<div class="col-md-2">

            <%= link_to "My Profile",current_user,:class => "btn btn-default btn-100" %>

</div>
<div class="col-md-10">
<% @users.each do |user| %>
  <% if !user.is_admin %>
    <div class="people-board-container">
      
      <%= link_to image_tag(user.avatar.url(:small), :border=>0), user, :id => user.id %>
      <h3><%= link_to user.firstname+" "+user.father_lastname, user %></h3>
      <h3><%= link_to user.speciality, user %></h3>
    </div>
  <% end %>
<% end %>
</div>