<div class="col-md-2">
<h2><%= link_to 'CREAR PACIENTE', new_patient_path %></h2>
</div>
<div class="col-md-10">
<table class="table table-condensed">
	<thead>
		<tr>
			<th>Paciente</th>
			<th>Grupo Familiar</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
	    <% @patients.each do |patient| %>
	      <tr>
	        <td><%= link_to patient.fullname, patient %></td>
	        <td><%= FamilyGroups(patient.family_groups) %></td>
	      </tr>
	    <% end %>
	</tbody>
</table>
</div>

