/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require jquery-ui
 *= require bootstrap-select
 *= require bootstrap-datepicker
 *= require bootstrap-tokenfield
 *= require select2
 *= require select2-bootstrap
 */
 
@import "bootstrap";
@import "bootstrap/theme";

body 
{
  
  padding-top: 70px;
  width:90%;
  margin-left:auto;
  margin-right:auto;
}
.btn-100{
  width:100%;
}
.btn-nuevo-plan{
  margin-top:0px!important;
  
}
.ui-state-default a:hover{
  background-color:grey;
}
.nuevo-plan{
  margin-top:40px;
}

textarea
{
  resize: none
}


.welcome-links
{
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
  text-align:center;
}
.welcome-links a:visited
{
	color: #fff;
}

.center
{
	margin-left:auto;
	margin-right:auto;
	width:500px;
  text-align:center;
}

.form-wrapper
{
  width:90%;
  margin-left:auto;
  margin-right:auto;
  margin-top:70px;
  display:block;
}


.left-select, .right-select
{
  display:inline-block;
  width:49%;
}



.left-select *, .right-select *
{
  display:block;
}

.form-wrapper input, .form-wrapper select, .form-textarea,.form-btn, .tokenfield
{
  float:right;
  margin:5px !important;
}


#user_id
{
  width:190px;
}




